CRM/CRM/Web References/ECMC.Sendoutmail/webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSysNews">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SercvicePKID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSysNewsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSysNewsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OtherQYSendOutMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OtherQYSendOutMailResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetSysNewsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSysNews" />
  </wsdl:message>
  <wsdl:message name="GetSysNewsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSysNewsResponse" />
  </wsdl:message>
  <wsdl:message name="OtherQYSendOutMailSoapIn">
    <wsdl:part name="parameters" element="tns:OtherQYSendOutMail" />
  </wsdl:message>
  <wsdl:message name="OtherQYSendOutMailSoapOut">
    <wsdl:part name="parameters" element="tns:OtherQYSendOutMailResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSysNewsHttpGetIn">
    <wsdl:part name="SercvicePKID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSysNewsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="OtherQYSendOutMailHttpGetIn">
    <wsdl:part name="MailAddress" type="s:string" />
    <wsdl:part name="subject" type="s:string" />
    <wsdl:part name="content" type="s:string" />
    <wsdl:part name="cc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="OtherQYSendOutMailHttpGetOut" />
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSysNewsHttpPostIn">
    <wsdl:part name="SercvicePKID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSysNewsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="OtherQYSendOutMailHttpPostIn">
    <wsdl:part name="MailAddress" type="s:string" />
    <wsdl:part name="subject" type="s:string" />
    <wsdl:part name="content" type="s:string" />
    <wsdl:part name="cc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="OtherQYSendOutMailHttpPostOut" />
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSysNews">
      <wsdl:input message="tns:GetSysNewsSoapIn" />
      <wsdl:output message="tns:GetSysNewsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OtherQYSendOutMail">
      <wsdl:input message="tns:OtherQYSendOutMailSoapIn" />
      <wsdl:output message="tns:OtherQYSendOutMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSysNews">
      <wsdl:input message="tns:GetSysNewsHttpGetIn" />
      <wsdl:output message="tns:GetSysNewsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="OtherQYSendOutMail">
      <wsdl:input message="tns:OtherQYSendOutMailHttpGetIn" />
      <wsdl:output message="tns:OtherQYSendOutMailHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSysNews">
      <wsdl:input message="tns:GetSysNewsHttpPostIn" />
      <wsdl:output message="tns:GetSysNewsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="OtherQYSendOutMail">
      <wsdl:input message="tns:OtherQYSendOutMailHttpPostIn" />
      <wsdl:output message="tns:OtherQYSendOutMailHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysNews">
      <soap:operation soapAction="http://tempuri.org/GetSysNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OtherQYSendOutMail">
      <soap:operation soapAction="http://tempuri.org/OtherQYSendOutMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysNews">
      <soap12:operation soapAction="http://tempuri.org/GetSysNews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OtherQYSendOutMail">
      <soap12:operation soapAction="http://tempuri.org/OtherQYSendOutMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysNews">
      <http:operation location="/GetSysNews" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OtherQYSendOutMail">
      <http:operation location="/OtherQYSendOutMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysNews">
      <http:operation location="/GetSysNews" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OtherQYSendOutMail">
      <http:operation location="/OtherQYSendOutMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://10.162.197.5/crm/action/webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://10.162.197.5/crm/action/webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://10.162.197.5/crm/action/webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://10.162.197.5/crm/action/webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>