CRM/CRM/Service References/WCFService/WFServer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.162.197.5:7566/WFServer?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" />
  <xs:import schemaLocation="http://10.162.197.5:7566/WFServer?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://10.162.197.5:7566/WFServer?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="startRuntime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="startRuntimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startRuntimeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stopRuntime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="stopRuntimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stopRuntimeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWorkFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="parameter" nillable="true" type="q1:WorkflowStartParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWorkFlowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateWorkFlowResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusinessSubmit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="SubmitResult" nillable="true" type="q2:SubmitResult" />
        <xs:element minOccurs="0" name="IsNewInstance" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusinessSubmitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BusinessSubmitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gotoState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="submitResult" nillable="true" type="q3:SubmitResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gotoStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gotoStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLogicState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="submitResult" nillable="true" type="q4:SubmitResult" />
        <xs:element minOccurs="0" name="IsNewInstance" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLogicStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addLogicStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStateNextPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="submitResult" nillable="true" type="q5:SubmitResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStateNextPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetStateNextPersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFreeze">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="submitResult" nillable="true" type="q6:SubmitResult" />
        <xs:element minOccurs="0" name="InstanceStatus" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFreezeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessFreezeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevokeState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="SubmitInfo" nillable="true" type="q7:SubmitResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevokeStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RevokeStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransactInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="SubmitInfo" nillable="true" type="q8:SubmitResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransactInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTransactInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceInfoByInstanceKeyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InstanceKeyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceInfoByInstanceKeyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="GetInstanceInfoByInstanceKeyIDResult" nillable="true" type="q9:WorkFlowInstanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceInfoByInstanceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="InstanceID" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceInfoByInstanceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="GetInstanceInfoByInstanceIDResult" nillable="true" type="q11:WorkFlowInstanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBatchAduitWorkFlowInstance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBatchAduitWorkFlowInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="GetAllBatchAduitWorkFlowInstanceResult" nillable="true" type="q12:ArrayOfWorkFlowInstanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateNextPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="InstanceID" type="q13:guid" />
        <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InstanceKeyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateNextPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="GetStateNextPersonResult" nillable="true" type="q14:ArrayOfInstanceStateNextPersonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceStateInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="InstanceID" type="q15:guid" />
        <xs:element minOccurs="0" name="InstanceKeyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceStateInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="GetInstanceStateInfoResult" nillable="true" type="q16:ArrayOfStateInstanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateInstanceTransact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StateInstanceKeyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateInstanceTransactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="GetStateInstanceTransactResult" nillable="true" type="q17:ArrayOfInstanceStateTransactInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstanceInfoByInstanceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="InstanceID" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstanceInfoByInstanceIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstanceInfoByInstanceKeyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InstanceKeyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstanceInfoByInstanceKeyIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNextPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NextPersonPKID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNextPersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOverTimeInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WFLink" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOverTimeInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="GetOverTimeInstanceResult" nillable="true" type="q19:ArrayOfWorkFlowInstanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWFInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WFLink" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWFInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Platform.eWorkFlow.Model" minOccurs="0" name="GetAllWFInstanceResult" nillable="true" type="q20:ArrayOfWorkFlowInstanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearStateInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clearStateInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clearStateInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWorkflowInstanceFromRuntime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getWorkflowInstanceFromRuntimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getWorkflowInstanceFromRuntimeResult" nillable="true" type="q21:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWFInstanceTransactHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="InstanceID" type="q22:guid" />
        <xs:element minOccurs="0" name="TemplateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWFInstanceTransactHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWFInstanceTransactHistoryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>